{
  "web": {
    "client_id": "000000000000-xxx.apps.googleusercontent.com",
    "project_id": "seu-projeto-exemplo-id",
    "auth_uri": "https://accounts.google.com/o/oauth2/auth",
    "token_uri": "https://oauth2.googleapis.com/token",
    "auth_provider_x509_cert_url": "https://www.googleapis.com/oauth2/v1/certs",
    "client_secret": "SUBSTITUA_PELO_SEU_CLIENT_SECRET",
    "redirect_uris": [
      "http://localhost:5678/rest/oauth2-credential/callback"
    ]
  }
}